include README.md
include LICENSE
include pyproject.toml
recursive-include clean_data_ml *.py
recursive-include clean_data_ml py.typed
include example_train.py example_inference.py
graft tests
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
